@charset "utf-8";
/* CSS Document */
* {box-sizing: border-box;}
body {
	background: rgb(216, 211, 233);
}
.header {
	overflow: hidden;
	background-color: #FFFFFF;
	padding: 20px 5px;
	margin-right: 2.5%;
	margin-left: 2.5%;
}

.bg-dark2{
	background-color: #1000a0;
}

.div-20 {
	height: 20px;
}

.div-10 {
	height: 10px;
}

.elevate {
	z-index: 10px;
}

.login-div {
	width: 100%;
	/* width: 30rem;
  height: 20rem; */
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  padding: 25px;
  backdrop-filter: blur(5px);
}

.btn-purple {
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #1000a0d3;
	color: white;
}

.btn-purple:hover {
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #0d036d;
	color: white;
}

.btn-purple-sec {
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #5900ffd5;
	color: white;
}

.btn-purple-sec:hover {
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #5900ff;
	color: white;
}

/* Style the header links */
.header a {
	float: left;
	color: black;
	text-align: center;
	padding-top: 1px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 1px;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
	font-size: 25px;
	font-weight: bold;
	margin-left: 0px;
}

/* Change the background color on mouse-over */
.header a:hover {
	background-color: #FFFFFF;
	color: #007AFF;
}

#header_logo:hover{	
	background-color: #FFFFFF;
	color:black;

}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
	float: right;
	width : "40%";
	margin-right: 3%;
}

.vl {
	border-left: 1px solid #717171;
	height: 60%;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 0;
	margin-top: 17%;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-top-color: #434343;
	border-bottom-color: #434343;
	border-right-color: #434343;
}

a{
	font-size: large;
	color: #007CFF
}

h1{
	padding-left: 0px;
}

.float-left{
	float: left;
	width: 20%;

}
.float-right{
	float: right;
	width: 20%;
	
}

select{
	height: 40px;
	line-height: 40px;
	font:bold;
	color:#ffffff;
	background-color:#007CFF
}

.reg-body {
	padding: 50px;
	width: 100%;
}

.flat-glass {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .15);
	padding: 25px;
	backdrop-filter: blur(5px);
}

.reg-div {
	width: 100%;
	/* height: 100%; */
	margin-bottom: 5px;
}

.submit-div {
	height: 100%;
	width: 100%;
}

.red {
	background-color: red;
}

@media screen and (max-width:1000px){
	.vl{
		height: 0px;
		border-left: 10px solid #434343;
	}	
	select{
		width: 200%;
	}
}


@media screen and (max-width:767px){
	.login-div {
		margin-left: 10%;
		margin-right: 10%;
	}
}
